

*{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: josefin Sans;
}

body{
    /* cuerpo del formulario de inicio 
    de seccion */
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
    color: #C5C9CA;
    background: url(../img/unsplash-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex
    height: 100%;
}

img{
    display:block;
    margin:auto; 
}

div.barbudo {
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin:auto; display:block;
    margin: auto;
    display: block;
}

.container{
    align-items: center;
  width: 50%;
  background-size: 50%;
 
}

header{
    font-family: 'Montez', cursive;
    width: 100%;
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: (0, 0, 0, 0.3);
}

header h1{
    margin-left: 50px;
    font-family: Montez;
    font-size: 50px;
    color: #C5C9CA   ;
}

header a{
    margin-right: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: all ease 300ms;
}

header a :hover{
    color: rgb(29, 34, 34)
}

.login{
    margin-top: 130px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
}

.fondo{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.fondo img{
    margin-top: -75px;
    margin-bottom: 80px;
    width: 50%;
    border-radius: 50%;
    border: solid #fff 5px;
}

.fondo h3{
    color: #fff;
    text-align: center;
    font-size: 70px;
    margin-bottom: 40px;
}

.fondo form{
    width: 100%;
}

.fondo form span{

    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
    border: solid 7px rgba(255, 255, 255, 0.1);
    border-bottom: solid 9.5px rgba(255, 255, 255, 0.1);
    border-top: solid 9px rgba(255, 255, 255, 0.1);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.inp{
    box-shadow: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    width: 30%;
    margin-bottom: 20px;
    height: 30px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 250ms ease;
    text-align: center;
}

.fondo form .inp:focus{
    outline: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 2px rgba(255, 255, 255, 0.1);
    color: #000000;
   
}

.boton{
    width: 100%;
    height: 20px;
    font-size: 20px;
    border: 0;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.0);
    border-bottom: solid 1px #fff;
    margin-top: 80px;
    transition: all 200ms ease;
}

.boton :hover{
    width: 100%;
    margin-left: -10%;
}

.boton :active{
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
    
}

.boton :focus{
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
    border: 0;
    border-radius: 5px;
    
}

.he{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    transition: all 300ms ease;
}

.he :hover{
    color: rgb(54, 55, 56);
    
}

.boton :hover{
    border: 100%;
}
 




